.input + .input {
  margin-top: 24px;
}

/* 数値の上下ボタンを無効にする */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}
input[type="number"] { 
  -moz-appearance:textfield; 
}

.input {
  display: flex;
  justify-content: center;
}

.input_label {
  display: block;
  min-width: 130px;
  margin: 8px 16px 8px 0;
  padding-left: 8px;
  border-left: 5px solid var(--color-fg);
  text-align: left;
  background-color: red;
}

.input_area {
  display: block;
  position: relative;
}

.input_input {
  display: inline-block;
  width: 100px;
  border: 2px solid var(--color-fg-sub-sub);
  border-radius: 6px;
  padding: 6px 14px;
}

.input_input:disabled {
  background-color: var(--color-fg-sub-sub);
}

.input_input:focus,
.input_input:active {
  border: 2px solid var(--color-hellomeg-hair);
}

.input_input::placeholder {
  color: var(--color-fg-sub-sub);
}

.input_suffix {
  position: absolute;
  right: 8px;
  padding: 8px 0;
  color: var(--color-fg-sub);
}

.input_area--hasSuffix .input_input {
  width: 90px;
  padding-right: 24px;
}

.output {
  margin-top: 32px;
  margin-bottom: 48px;
  font-size: 50px;
  font-style: italic;
}
