:root {
  --color-fg: #333333;
  --color-bg: #fcfcfc;
  --color-fg-sub: #767676;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #fcfcfc;
    --color-bg: #333333;
    --color-fg-sub: #cccccc;
  }
}

#section-wrapper {
  display: flex;
  width: 100%;
  height: 30px;
  max-width: 400px;
  border: 2px solid var(--color-fg-sub);
  border-radius: 6px;
  margin: 2px auto 18px;
}

.section {
  flex: 1;
  display: flex;
  border-right: 2px solid var(--color-fg-sub);
  position: relative;
}

.section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-fg);
  opacity: 0.5;
  font-size: 1.5em;
}

.currentSection :not(.section-text) {
  opacity: 0.5;
}

.currentSection .section-text {
  opacity: 1;
  font-weight: bold;
}

.section:last-child {
  border-right: none;
}

.segment {
  flex: 1;
  border-right: 1px dashed var(--color-fg-sub);
}

.segment.swiped {
  background-color: #5383C3;
}

.segment:last-child {
  border-right: none;
}

#button-container {
  display: flex;
  justify-content: space-evenly;
}

#right-button {
  top: 0px;
  left: 0px;
}

#left-button {
  top: 0px;
  left: 0px;
}

.button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.right-button-wrapper {
  display: flex;
}

#swipe-gauge {
  width: 8px;
  height: 70px;
  border: 1px solid var(--color-fg);
  border-radius: 4px;
  margin: 25px 0 5px;
  display: flex;
  flex-direction: column-reverse;
}

.swipe-gauge-block {
  flex: 1;
  border-bottom: 1px dashed var(--color-fg);
}

.swipe-gauge-block:first-child {
  border-bottom: none;
}

.swipe-gauge-block.swiped {
  background-color: #ABC88B;
}

p {
  margin-bottom: 0.5em;
}