.controls {
  text-align: center;
  margin-bottom: 10px;
}

#fullscreen-button {
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
}

#viewer {
  display: flex;
  overflow-x: hidden; /* Disable native horizontal scrolling */
  scroll-snap-type: x mandatory;
  /* Hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#viewer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

#viewer:fullscreen {
  background-color: #000;
}

.manga-page {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  border: 1px solid #ccc;
  cursor: pointer;
}